body {
  background-image: linear-gradient(to bottom, #A2D9CE, white); 
  font-size: 75%;
}

.contenedor {
width: 100%;
}


#logo{
  transform: 
  translate(45px, -55px);
}
#titulo {
	position: relative; 
  top: 10%px; 
  font-weight: 600; 
  font-family: 'Cuprum', sans-serif; 
  color: #0A0E67; 
  text-align: center;
  } important!
.subtitulo {
  background-color: white;
position: relative; 
top: 110px; font-family: 'Cuprum', sans-serif; 
color: #0A0E67; text-align: center;
animation-duration: 3s; 
animation-name: aparecer;
}
.navbar {
  font-size: 150%
}
.navbar-brand {
  font-size: 125%
}
section {
  flex-flow: center; 
  margin: auto;
}

.parrafo1 {
  text-align: center;
}


h2 {font-family: 'Cuprum', sans-serif; color: #0A0E67;}
h3 {font-family: 'Cuprum', sans-serif; color: #0A0E67; animation-duration: 3s; animation-name: aparecer;}
h4 {font-family: 'Cuprum', sans-serif;color: #0A0E67;}
@keyframes aparecer {0%{opacity: 0;} 100% {opacity: 1;}}

p {font-size: 140%; font-family: 'Cuprum', sans-serif; color: #0A0E67; text-align: center;}

.container1{display: flex;
margin-bottom: 20px;}

.row {background-color: white;}

.parrafo1corto{
font-family: 'Cuprum', sans-serif; 
color: #0A0E67;
font-size: 140%;}

.container-fluid {
width: 100%;
max-width: 1000px;
box-sizing: border-box;
}


.img-fluid {
margin-bottom: 10px;
}









@media only screen and (min-width: 320px) {
#perfil {width: 100%; height: 50%;}
.navbar-brand {font-size: 70%;}
#titulo {margin-top: 5px; font-size: 70%;}
.img-fluid {margin-bottom: 5px;}

      }
      

@media only screen and (min-width: 768px) {
#perfil {width: 100%; height: 50%;}
.navbar-brand {font-size: 80%;}

  }
      
@media only screen and (min-width: 1024px) {
 #perfil {width: 100%; height: 70%;}
 #textoDesc {font-size: 220%;} 
 .navbar-brand {font-size: 110%;}
  
  }
      
